## 01. Package Import: #

In [24]:
import pandas as pd

## 02. Read Data:

In [25]:
df = pd.read_excel('Data.xlsx')

## 03. Data Cleaning:

In [26]:
df.head(5)

                     Data
0   2021-12-01T05:00:00 5
1  2021-12-01T05:30:00 12
2  2021-12-01T06:00:00 14
3  2021-12-01T06:30:00 15
4  2021-12-01T07:00:00 25

i. split to create two columns

In [27]:
df = df['Data'].str.split(' ', expand=True)

ii. rename columns

In [28]:
df = df.rename(columns={0:'DateTime',1:'Cars'})

In [29]:
df.head(5)

              DateTime Cars
0  2021-12-01T05:00:00    5
1  2021-12-01T05:30:00   12
2  2021-12-01T06:00:00   14
3  2021-12-01T06:30:00   15
4  2021-12-01T07:00:00   25

iii. change data types:

In [30]:
df['Cars'] = df['Cars'].astype(int)
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [31]:
df.dtypes

DateTime    datetime64[ns]
Cars                 int64
dtype: object

iv. create date column:

In [37]:
df['Date'] = df.DateTime.dt.date

## 04. Problem Statment

i. The number of cars seen in total

In [33]:
total_cars = df['Cars'].sum()

In [34]:
print('Total Cars: ',total_cars)

Total Cars:  398

ii. number of cars seen on that day

In [39]:
df.groupby(by=['Date'])['Cars'].sum()

Date
2021-12-01    179
2021-12-05     81
2021-12-08    134
2021-12-09      4
Name: Cars, dtype: int64

iii. The top 3 half hours with most cars, in the same format as the input file

In [46]:
df.sort_values(by=['Cars'],ascending=False).head(3).drop(['Date'],axis=1)

              DateTime  Cars
5  2021-12-01 07:30:00    46
6  2021-12-01 08:00:00    42
17 2021-12-08 18:00:00    33

iv. The 1.5 hour period with least cars (i.e. 3 contiguous half hour records)

In [65]:
df.sort_values(by=['DateTime','Cars'],ascending=[True,False]).head(4)

             DateTime  Cars        Date
0 2021-12-01 05:00:00     5  2021-12-01
1 2021-12-01 05:30:00    12  2021-12-01
2 2021-12-01 06:00:00    14  2021-12-01
3 2021-12-01 06:30:00    15  2021-12-01